{% extends 'base.html' %}
{% load static %}

{% block extra-styles %}
<link rel="stylesheet" href="{% static 'myapp/css/__detail_body.css' %}" />
{% endblock %}

{% block title %}Details{% endblock %}

{% block content %}
<div class="bodyContents">
    <div class="featured-brands">
        <div class="product">
            <div class="product-header">
                <img class="imageMod" src="{{ house.image.url }}" alt="{{ house.title }}" />
                <h2 class="accent-medium">$BDT {{ house.price }} Cr</h2>
                <span class="accent-primary"> <b>🏠 Rooms: {{ house.rooms }}</b> </span>
                <span class="accent-primary"> <b>🛏️ Bedrooms: {{ house.bedroom }}</b> </span>
                <span class="accent-primary"> <b>🧻 Bathrooms: {{ house.bathroom }}</b> </span>
                <h5 class="accent-primary">➤ {{ house.address }} Cr</h5>
                <h5 class="accent-primary">📞 {{ house.contact }}</h5>
            </div>
            <div class="product-footer">
                <h3 class="accent-secondary"> Property Description: </h3>
                <p style="color: black;">{{ house.detail }}</p>
            </div>
            <div class="product-details">
                <h3 class="accent-secondary"> Property Information: </h3>
                <p style="color: black;">{{ house.spec|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}