{% extends 'base.html' %}
{% load static %}

{% block extra-styles %}
<link rel="stylesheet" href="{% static 'myapp/css/__home.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="top-content">
      <div class="text">
        <h1>Welcome to <span class="eseba">Smart Predictor</span></h1>
       </div>
    </div>
  
    <h2 class="offer-title">We offer</h2>
    
    <div class="cards-container">
      <div class="card">
        <h2>Houses</h2>
        <p>Find out houses</p>
        <a href="{% url 'houses' %}" class="card-button">Learn more</a>
      </div>
    
      <div class="card">
        <h2>Predictions</h2>
        <p>Get your ML prediction</p>
        <a href="{% url 'prediction' %}" class="card-button">Learn more</a>
      </div>
    </div>
    
  </div>

{% endblock %}
