{% extends 'base.html' %}
{% load static %}

{% block extra-styles %}
<link rel="stylesheet" href="{% static 'myapp/css/__houses.css' %}" />
{% endblock %}

{% block title %}Houses{% endblock %}

{% block content %}
<body>
    <div class="bodyContents">
        <h2>Featured Houses</h2>
        <div class="featured-houses">
            {% for house in houses %}
            <div class="house">
                <img src="{{ house.image.url }}" alt="{{ house.title }}" class="imageMod">
                <a href="{% url 'detailBody' house.id %}">
                    <h3>{{ house.title }} </h3>
                </a>
                <p>Type: {{ house.productCategory }}<i class="fas fa-home"></i></p>
                <p>{{ house.address }}</p>
                <div class="bottom-button">
                    <span>$BDT {{ house.price }} Cr</span>
                    <button>Buy Now</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}