<!-- login.html -->
{% extends 'base.html' %}
{% load static %}

{% block extra-styles %}
<link rel="stylesheet" href="{% static 'myapp/css/__login.css' %}" />
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}
