.about-us {
    width: 1200px;
    margin: 0 auto;
    color: #000000;
    background-color: #ffffff;
    background-color: rgba(65, 102, 124, 0.63);
    backdrop-filter: blur(10px);
  }
  
  h2 {
    color: aqua;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .team-member {
    display: inline-block;
    margin: 50px;
    width: 200px;
    height: 300px;
    padding: 70px 40px;
    text-align: center;
    vertical-align: top; 
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(69, 69, 69, 0.355);
    backdrop-filter: blur(20px);
    transition: transform .3s;
  }
  
  .team-member:hover {
    transform: scale(1.05);
    overflow: hidden;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .team-member h3 {
    font-size: 20px;
    margin: 10px;
  }
  
  .team-member p {
    padding-top: 10px;
    font-size: 16px;
  }
  
  .project-description {
    color: rgb(255, 255, 255);
    margin: 50px 100px;
    border-radius: 20px;
  }
  .project-description h3 {
    color: aqua;
    font-size: 34px;
    margin: 80px auto 0px;
    width: fit-content;
    padding: 20px;
  }
  
  .project-description p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
    
  }
  