.about-us {
    width: 1200px;
    margin: 20px 0px;
    border-radius: 5px;
    padding: 50px 0px 50px 0px;
    color: #000000;
    background-color: #ffffff;
    background-color: rgba(65, 102, 124, 0.63);
    backdrop-filter: blur(10px);
  }

  h2 {
    color: aqua;
    font-size: 30px;
    width: 300px;
    margin: 10px auto;
    padding: 1rem;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        aqua, 
        rgba(0, 0, 0, 0)
      ) 1 100%;

  }
  
  .team-member {
    display: inline-block;
    margin: 50px;
    width: 250px;
    height: 300px;
    padding: 40px;
    text-align: center;
    vertical-align: top; 
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(69, 69, 69, 0.355);
    backdrop-filter: blur(20px);
    transition: transform .3s;
  }
  
  .team-member:hover {
    transform: scale(1.05);
    overflow: hidden;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  
  .team-member a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
  }
  
  .project-description {
    color: rgb(255, 255, 255);
    margin: 50px 100px;
    border-radius: 20px;
  }
  .project-description h3 {
    color: aqua;
    font-size: 30px;
    max-width: 500px;
    margin: 100px auto 50px;
    padding: 1rem;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        aqua, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  }
  
  .project-description p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
    
  }
  