.bodyContents {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.product {
    background-color: rgba(131, 165, 185, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.product-header {
    text-align: center;
    margin-bottom: 20px;
}
.product-header-details {
    margin: 0px auto;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.39);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-bottom: 50px;
}

.center-title {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
}

.imageMod {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.blue-bold {
    font-weight: bold;
    font-size: 20px;
    color: #4169E1;
}

.black-bold {
    font-weight: bold;
    color: #333;
}

.product-footer, .product-details {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    color: black;
    text-align: justify;
}

.product-footer h3, .product-details h3 {
    margin-bottom: 10px;
}

.product-footer p, .product-details p {
    line-height: 1.6;
}

.accent-primary {
    color: #0021f3;
}

.accent-medium {
    color: 	#c70000;
}

.accent-secondary {
    color: #151515;
}
.product-footer .accent-secondary,
.product-details .accent-secondary{
    color: #01f9d0;
    font-size: 20px;
}

.accent-background {
    background-color: #f44336;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .bodyContents {
        padding: 10px;
    }
}