.bodyContents {
    justify-items: space-around;
    padding: 0px 20px;
    margin: 20px;
    border-radius: 10px;
}

.featured-houses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.house {
    background-color: rgba(131, 165, 185, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 20px;
    width: 350px;
    height: 480px;
    display: block;
    margin-bottom: 20px;
    padding: 20px 20px 40px 20px;
}

h2 {
    width: 20%;
    margin-top: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #01c7f949;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.imageMod {
    max-width: 280px;
    max-height: 240px;
}
.imageMod img {
    width: 280px;
    height: 240px;
}

.house h3 {
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: none;
}

.house a {
    text-decoration: none;
}

.house p {
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.house .house-price {
    color: #070707;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
}


.bottom-button{
    position: absolute;
    margin: 20px 0px;
    bottom: 0px;
    left: 58px;
    background-color: aliceblue;
    border-radius: 10px;
    padding-left: 10px;
}
.house span {
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
}

.house button {
    background-color: #01f9d0;
    color: #000000;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-family: 'Mooli', sans-serif;
}

.house button:hover {
    background-color: #e64a19;
    color: white;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    font-family: Mooli;
    width: 300px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    outline: none;
}

.search-button {
    font-family: Mooli;
    padding: 15px 30px;
    background-color: #01f9d0;
    color: #000000;
    font-size: 18px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #e64a19;
    color: white;
}

.details-link {
    font-size: 20px;
    color: #01f9d0;
    text-decoration: none;
    font-weight: bold;
}

.details-link:hover {
    color: #e64a19;
}