body{
    min-height: 100vh;
}
.house-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.house-item {
    background-color: rgba(131, 165, 185, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 20px;
    width: 320px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
}

.house-image {
    max-width: 280px;
    max-height: 240px;
    object-fit: contain;
    margin-bottom: 20px;
}

.house-title {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
}

.house-address,
.house-category{
    color: #ffffff;
    margin-bottom: 10px;
}
.details-link {
    color: #01f9d0;
    text-decoration: none;
    font-weight: bold;
}

.details-link:hover {
    color: #e64a19;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    font-family: Mooli;
    width: 300px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    outline: none;
}

.search-button {
    font-family: Mooli;
    padding: 15px 30px;
    background-color: #01f9d0;
    color: #000000;
    font-size: 18px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #e64a19;
    color: white;
}